:root {
  --primary-color: #9ABB0C;
  --secondary-color: #EA445A;
  --orange-color: #F17C2C;
  --white-color: #ffffff;
  --black-color: #3c3c3c;
  --gray-color : #F6F6F6; 
  --font-size-base: 16px;
  --font-roboto: 'Roboto', Arial, sans-serif;
  --font-dancing: 'Dancing Script', cursive;
}

main{
  position: relative;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}

image{
  width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

button{
  font-family: var(--font-name);
  cursor: pointer;
}

input:focus {
  outline: none;
}

body {
  font-family: var(--font-roboto);
  overflow-x: hidden;
}

header,
footer,
section {
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: var(--black-color);
}

a {
  text-decoration: none;
  color: var(--black-color);
  cursor: pointer;
}

*:not(input):not(textarea) {
  caret-color: transparent;
}

p{
  line-height: 1.5;
}