@media screen and (max-width:1170px) {
    .feedback-content {
        flex: 0 0 75%;
    }

    .recruitment-btn {
        display: none;
    }
}

@media screen and (min-width: 1074px) {
    .menu-container__bar {
        display: none;
    }

    .intro-content {
        padding: 0px 10vw;
    }
}

@media screen and (max-width: 1073px) {
    .menu-container__item {
        display: none;
    }

    .header-bottom {
        flex-grow: 1;
        justify-content: right;
    }

    .news-top__left {
        flex: 0 0 35%;
    }

    .news__image img {
        aspect-ratio: 4 / 3;
    }

    .news__small .news__image img {
        aspect-ratio: 9 / 16;
    }

    .news-top__right p {
        -webkit-line-clamp: 3;
    }

    .news-page__container>div {
        flex-direction: column;
    }

    .job-filter,
    .recruitment-container {
        flex-direction: column;
    }

    .recruitment-menu {
        width: 100%;
        position: unset;
    }

    .job-filter__time,
    .job-filter__location {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .product-container {
        justify-content: flex-start;
        overflow-x: auto;
        padding: 10px 0px;
        -webkit-overflow-scrolling: touch;
    }

    .product-item {
        flex: 0 0 200px;
        scroll-snap-align: start;
    }

    .product-item:first-child {
        margin-left: 10px;
    }

    .product-item:last-child {
        margin-right: 10px;
    }

    .product-container {
        gap: 15px;
    }

}

@media screen and (max-width: 835px) {
    .search-box {
        min-width: unset;
    }

    .advise-contact {
        flex-direction: column;
        align-items: center;
    }

    .advise-image {
        border-right: none;
    }

    .advise-intro {
        width: 100%;
    }

    .news__image img,
    .news__small .news__image img {
        aspect-ratio: 4 / 3;
    }

    .news__small .news__image img {
        aspect-ratio: 9 / 16;
    }

}

@media screen and (min-width: 769px) {
    .product-type {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .product-type__item {
        flex: 0 0 calc(100% / 6 - 5px);
    }
}

@media screen and (max-width: 768px) {
    .news-top__container {
        flex-direction: column;
    }

    .news__small .news__image img {
        aspect-ratio: 3 / 4;
        max-height: 150px;
        height: 100%;
        width: 100%;
    }

    .product-type{
        width: 1200px;
        flex-wrap: wrap;
        gap: 10px;
    }

    .product-type__item {
        flex: 0 0 200px;
        scroll-snap-align: start;
    }

    .product-container__mb{
        overflow-x: auto;
    }

    .news__small .news__image {
        flex: 0 0 25%;
        height: 100%;
    }

    .knowledge-item {
        width: calc(100% / 2 - 15px) !important;
    }

    .why-choose {
        flex-direction: column;
    }

    .why-choose__image img {
        aspect-ratio: 16 / 9;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
    }

    .product-rating {
        flex-wrap: wrap;
    }

    .news-leftside__top {
        flex-direction: column;
    }

    .recruitment-btn {
        padding: 5px;
        font-size: 2vw;
        width: fit-content;
        max-width: 10vw;
        width: 100%;
        margin-left: 2px;
    }
}

@media screen and (max-width : 700px) {
    .feedback-image {
        position: unset;
        background-color: var(--primary-color);
        color: var(--white-color);
    }

    /* .product-container, */
    .feedback-item {
        flex-direction: column;
    }

    .feedback-image img {
        max-width: none;
    }

    .feedback-image b,
    .feedback-image i {
        padding: 0px 20px;
    }

    .feedback-content {
        padding: 20px;
        margin-bottom: unset;
    }

    .product-page__item {
        width: calc(100% / 3 - 15px);
    }

    .job-card {
        width: 100%;
    }
}

@media screen and (max-width: 590px) {

    .header-bottom,
    .header-function {
        display: none;
    }

    header {
        padding-bottom: 0px;
    }

    .product-page__item {
        width: calc(100% / 2 - 15px);
    }
}

@media screen and (max-width: 551px) {
    .advise-intro__top {
        flex-direction: column;
    }

    .product-item {
        flex: 0 0 180px;
        scroll-snap-align: start;
    }

    .menu-mobile__container {
        display: flex;
    }

    .contact-info__container {
        justify-content: center;
        gap: 5px;
    }

    .allproduct-type__item {
        flex: 1 0 calc(100% / 2 - 15px);
    }

    .recruitment-popup__title {
        padding: 15px 20px;
    }

    .recruitment-form__popup {
        padding: 10px 25px;
    }

}

@media screen and (max-width: 480px) {
    .advise-intro__bottom {
        flex-direction: column;
    }

    .news__small {
        flex-direction: column;
    }

    .news__small .news__image img {
        aspect-ratio: 4 / 2;
        max-height: unset;
    }

    .product-quality {
        gap: 15px;
    }

    .product-quality__item {
        flex-grow: 1;
    }
}