<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/phu-sa.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/phu-sa.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/gao-st24.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/gao-st24.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/gao-st25.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/gao-st25.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/lua-tom.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/lua-tom.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/ca-mau-st-25.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/ca-mau-st-25.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/ca-mau.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/ca-mau.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/gao-st25+.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/gao-st25+.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/st25-dak-lak.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/st25-dak-lak.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/st-25-krong-ana.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/st-25-krong-ana.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/st25-premium.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/st25-premium.png" alt="Phản chiếu" class="product-reflect" />
</a>
<a href="#" class="flex flex-col center-hor all-product__item">
    <img src="./img/product/gao-lang-ta.png" alt="Sản phẩm" class="product-image" />
    <img src="./img/product/gao-lang-ta.png" alt="Phản chiếu" class="product-reflect" />
</a>
