<div class="cta-floating flex flex-col">
    <div class="cta-item">
        <a href="tel:0123456789" class="cta-link">
            <img src="./img/icon/phone.svg" alt="Gọi điện">
        </a>
    </div>

    <div class="cta-item">
        <a href="https://m.me/tenfanpage" target="_blank" class="cta-link">
            <img src="./img/icon/messenger.svg" alt="Messenger">
        </a>
    </div>

    <div class="cta-item">
        <a href="https://zalo.me/0123456789" target="_blank" class="cta-link">
            <img src="./img/icon/zalo.svg" alt="Zalo">
        </a>
    </div>

    <div class="cta-item">
        <a href="https://goo.gl/maps/xxxxxx" target="_blank" class="cta-link">
            <img src="./img/icon/map.svg" alt="Google Maps">
        </a>
    </div>
</div>