<div class="container-l footer-container">
    <div class="container-f flex bg-white footer-top">
        <img src="../img/logo/logo-footer.webp" alt="">
    </div>
    <div class="container-f flex center-ver  footer-bottom">
        <div class="footer-main-logo">
            <img src="../img/logo/LOGO FEBI-11.svg" alt="">
        </div>
        <div class="flex flex-col  footer-info">
            <h3 class="footer-title">CÔNG TY CỔ PHẦN THỰC PHẨM FEBI</h3>
            <p class="footer-address"><span>Ấp tây, xã kim sơn, tỉnh đồng tháp, Việt nam</span></p>
        </div>
        <div class="flex flex-col center-ver footer-contact">
            <div class="footer-contact__icon">
                <img src="../img/logo/bo-cong-thuong 1.png" alt="">
            </div>
            <div class="flex center-ver footer-ecom">
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/shoppe.png" alt=""></a>
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/tiktok-shop.png" alt=""></a>
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/lazada.png" alt=""></a>
            </div>
            <div class="flex center-ver footer-social">
                <a href="#" target="_blank"><img src="./img/icon/you.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/zalo.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/fac.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/ins.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/in.png" alt=""></a>
            </div>
        </div>
    </div>
    
</div>