<div class="container-l footer-container">
    <div class="container-f flex bg-white footer-top">
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">câu chuyện</a></h3>
            <hr>
            <a href="#">tổng quan</a>
            <a href="#">tầm nhìn - sứ mệnh</a>
            <a href="#">đối tác chiến lược</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">lĩnh vực hoạt động</a></h3>
            <hr>
            <a href="#">hoạt động kinh doanh</a>
            <a href="#">quy trình sản xuất </a>
            <a href="#">các chứng chỉ</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Sản phẩm</a></h3>
            <hr>
            <a href="#">thương hiệu vua gạo</a>
            <a href="#">thương hiệu ông cụ</a>
            <a href="#">thương hiệu nuffam</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Phát triển bền vững</a></h3>
            <hr>
            <a href="#">bảo vệ môi trường</a>
            <a href="#">hoạt động xã hội</a>
            <a href="#">dự án vùng nguyên liệu</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Quan hệ cổ đông</a></h3>
            <hr>
            <a href="#">công bố thông tin</a>
            <a href="#">quản trị công ty</a>
            <a href="#">quy chế hoạt động</a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Tin tức</a></h3>
            <hr>
            <a href="#">thông cáo báo chí</a>
            <a href="#">tin tức nông nghiệp</a>
            <a href="#">hoạt động đại lý </a>
        </div>
        <div class="flex flex-col center-ver footer-content">
            <h3><a href="#">Liên hệ</a></h3>
            <hr>
            <a href="#">info@vuagaovn.com</a>
            <a href="#">1800 8012</a>
            <a href="#">Hệ thống chi nhánh</a>
        </div>
    </div>
    <div class="container-f flex center-ver  footer-bottom">
        <div class="footer-main-logo">
            <img src="../img/logo/LOGO FEBI-11.svg" alt="">
        </div>
        <div class="flex flex-col  footer-info">
            <h3 class="footer-title">CÔNG TY CỔ PHẦN THỰC PHẨM FEBI</h3>
            <p class="footer-address"><span>Ấp tây, xã kim sơn, tỉnh đồng tháp, Việt nam</span></p>
            <div class="flex center-ver footer-logo">
                <div class="footer-logo__item">
                    <img src="./img/logo/logo vuagao.png " alt="">
                </div>
                <div class="divider"></div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo nuffam.png " alt="">
                </div>
                <div class="divider"></div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo ong cu.png" alt="">
                </div>
                <!-- <div class="divider"></div>
                <div class="footer-logo__item">
                    <img src="./img/logo/logo mowari.png " alt="">
                </div> -->
            </div>
        </div>
        <div class="flex flex-col center-ver footer-contact">
            <div class="footer-contact__icon">
                <img src="../img/logo/bo-cong-thuong 1.png" alt="">
            </div>
            <!-- <div class="flex center-ver search-box__footer">
                <input type="text" placeholder="Gmail..." />
                <button type="submit">
                    <img src="./img/icon/arrow-right.png" alt="Search" />
                </button>
            </div>
            <div class="not-robot">
                <img src="./img/icon/Group 98.png" alt="">
            </div> -->
            <div class="flex center-ver footer-ecom">
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/shoppe.png" alt=""></a>
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/tiktok-shop.png" alt=""></a>
                <!-- <a href="#" class="flex center-ver center-hor"><img src="../img/icon/grab.png" alt=""></a> -->
                <a href="#" class="flex center-ver center-hor"><img src="../img/icon/lazada.png" alt=""></a>
            </div>
            <div class="flex center-ver footer-social">
                <a href="#" target="_blank"><img src="./img/icon/you.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/zalo.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/fac.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/ins.png" alt=""></a>
                <a href="#" target="_blank"><img src="./img/icon/in.png" alt=""></a>
            </div>
        </div>
    </div>
    
</div>
<div class="container-f bg-darker-green footer-copy-right ">
    <p>copyright   FEBIVN.COM. all right reserved.</p>
</div>