<div class="container-l footer-container">
            <div class="container-f flex bg-white footer-top">
                <img src="../img/logo/logo-footer.webp" alt="">
            </div>
            <div class="container-f flex footer-bottom">
                <div class="flex flex-col footer-bottom__content">
                    <h3>công ty tnhh jan'slenmen</h3>
                    <p>Thông điệp: “Hương vị tự nhiên từ đất và con người Việt Nam – chậm rãi, lành mạnh, bền vững”.</p>
                    <p>84D Nguyễn Đình Chiểu (đường Cây Điệp), phường Sài Gòn.</p>
                    <p>ĐT: 0971077678 - 0918 240 739</p>
                    <p>Thời gian hoạt động: </p>
                    <p>Email: jansatisha@gmail.com</p>
                    <p>Giấy chứng nhận đăng ký kinh doanh số: 0317600630 <br>
                        Ngày cấp: 09/12/2022 <br>
                        Nơi cấp: Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh</p>
                </div>
                <div class="flex flex-col footer-bottom__content">
                    <h3>Về JAN’SLENMEN</h3>
                    <a href="#">Giới thiệu doanh nghiệp</a>
                    <a href="../recruitment.html">Tuyển dụng</a>
                    <a href="#">Gửi góp ý, khiếu nại</a>
                </div>
                <div class="flex flex-col footer-bottom__content">
                    <h3>Các chính sách</h3>
                    <a href="../policy.html">Chính sách giá</a>
                    <a href="../policy.html">Chính sách đổi vỏ chai</a>
                    <a href="../policy.html">Chính sách bảo mật</a>
                    <a href="../policy.html">Chính sách kiểm tra và đổi trả sản phẩm</a>
                    <a href="../policy.html">Chính sách thanh toán và giao hàng</a>
                </div>
                <div class="flex flex-col footer-bottom__content">
                    <h3>Mạng xã hội</h3>
                    <div class=" flex footer-bottom__social">
                        <a class="flex center-hor center-ver "href="#">
                            <img src="./img/icon/instagram.webp" alt="">
                        </a>
                        <a class="flex center-hor center-ver "href="#">
                            <img src="./img/icon/facebook-f.webp" alt="">
                        </a>
                        <a class="flex center-hor center-ver "href="#">
                            <img src="./img/icon/youtube.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>