<div class="container-l flex center-ver header-container">
    <div class="flex center-ver header-content__left">
        <button id="btn-menu" class=" flex center-ver menu__btn">
            <img src="./img/logo/menu-bar-green.png" alt="">
        </button>
        <div class="flex center-ver selected_land">
            <p>English</p>
            <img src="./img/icon/Vector-down.png" alt="">
        </div>
        <div class="options_land">
            <div data-value="Vietnamese">Tiếng Việt</div>
        </div>

        <a class="recruitment-btn" href="../recruitment.html">Tuyển dụng</a>
    </div>
    <a href="../index.html" class="logo">
        <img title="logo trang chủ" src="./img/logo/LOGO FEBI-09.svg" alt="">
    </a>
    <div class="header-content__right">
        <div class="flex header-content__container">
            <a class="center-hor flex logo-partner">
                <img title="logo đối tác" src="./img/logo/logo nuffam CAM 2.png" alt="">
            </a>
            <a class="center-hor flex logo-partner">
                <img title="logo đối tác" src="./img/logo/Group 1.png" alt="">
            </a>
            <a class="center-hor flex logo-partner">
                <img title="logo đối tác" src="./img/logo/Logo_ 2.png" alt="">
            </a>
            <a class="center-hor flex logo-partner">
                <img title="logo đối tác" src="./img/logo/Logo Mowari (final) 3.png" alt="">
            </a>
        </div>
    </div>
    <div class="menu-bottom">
        <img src="./img/icon/bottommenu.png" alt="">
    </div>
</div>