<div class="advise-image">
    <p>Tư vấn sức khỏe</p>
</div>
<div class="flex flex-col advise-intro">
    <div class="flex advise-intro__top">
        <div class=" flex center-ver input-box">
            <span class="input-icon">
                <img src="./img/icon/User.webp" alt="user">
            </span>
            <input type="text" placeholder="Nhập tên của bạn">
        </div>
        <div class=" flex center-ver input-box">
            <span class="input-icon">
                <img src="./img/icon/Phone.webp" alt="user">
            </span>
            <input type="text" placeholder="Nhập số điện thoại">
        </div>
    </div>
    <div class="flex  advise-intro__bottom">
        <div class=" flex center-ver input-box">
            <span class="input-icon">
                <img src="./img/icon/Phone.webp" alt="user">
            </span>
            <input type="text" placeholder="Nhập số điện thoại">
        </div>
        <button class="flex btn-register">
            <img src="./img/icon/Phone-white.svg" alt="">
            Đăng ký
        </button>
    </div>
</div>