<div class="container-l flex flex-col knowledge-container">
    <div class="container-xs flex flex-col center-ver">
        <h2>Kiên thức & lifestyle</h2>
        <img src="./img/icon/Vector.webp" alt="">
    </div>
    <div class="knowledge-content center-hor flex">
        <a href="#" class="knowledge-item flex flex-col">
            <img src="./img/image-new/image 49.webp" alt="">
            <h3>Quy trình sản xuất Mật chuối</h3>
            <p>Đây là quy trình sản xuất Mật chuối từ trang trại đến xưởng của Jan’slenmen.</p>
        </a>
        <a href="#" class="knowledge-item flex flex-col">
            <img src="./img/image-new/image 49.webp" alt="">
            <h3>Quy trình sản xuất Mật chuối</h3>
            <p>Đây là quy trình sản xuất Mật chuối từ trang trại đến xưởng của Jan’slenmen.</p>
        </a>
        <a href="#" class="knowledge-item flex flex-col">
            <img src="./img/image-new/image 49.webp" alt="">
            <h3>Quy trình sản xuất Mật chuối</h3>
            <p>Đây là quy trình sản xuất Mật chuối từ trang trại đến xưởng của Jan’slenmen.</p>
        </a> <a href="#" class="knowledge-item flex flex-col">
            <img src="./img/image-new/image 49.webp" alt="">
            <h3>Quy trình sản xuất Mật chuối</h3>
            <p>Đây là quy trình sản xuất Mật chuối từ trang trại đến xưởng của Jan’slenmen.</p>
        </a>
    </div>
</div>