<div class="container-xs flex ">
    <button id="btn-menu" class=" flex center-ver menu__btn">
        <img src="./img/icon/Vector-bar.png" alt="">
    </button>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/nuffam-mini.png" alt="">
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/vuagao-mini.png" alt="">
        <p>Vua Gạo</p>
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/ong-cu-mini.png" alt="">
        <p>Ông Cụ</p>
    </a>
    <a class=" flex center-ver menu__btn">
        <img src="./img/icon/tuyen-dung.png" alt="">
        <p>Tuyển dụng</p>
    </a>
    <div class=" flex center-ver menu__btn">
        <p><a href="">Tiếng việt</a>/<a href="">English</a></p>
    </div>
    <div class="menu-mobile__content flex flex-col">
        <a class="flex menu-mobile__item" href="./index.html">trang chủ</a>
        <a class="flex menu-mobile__item" href="./story.html">câu chuyện</a>
        <a class="flex menu-mobile__item" href="./fieldofactivity.html">lĩnh vực hoạt động</a>
        <a class="flex menu-mobile__item" href="./product.html">sản phẩm</a>
        <a class="flex menu-mobile__item" href="./sustainabledevelopment.html">phát triễn bền vững</a>
        <a class="flex menu-mobile__item" href="./community.html">quan hệ cổ đông</a>
        <a class="flex menu-mobile__item" href="./contact.html">liên hệ</a>
        <a class="flex menu-mobile__item" href="./contact.html">tuyển dụng</a>
        <a class="flex menu-mobile__item" href="./news.html">tin tức</a>
        <div class="flex center-ver search-box">
                    <input type="text" placeholder="Search...">
                    <button class="flex center-hor " type="submit">
                        <img src="./img/icon/search-line.png" alt="Search">
                    </button>
                </div>
    </div>
    <div class="connect-us flex flex-col bg-green center-ver">
        <a class="connect-us__icon">
            <img src="./img/icon/pin.png " alt="">
        </a>
        <div class="divider"></div>
        <a class="connect-us__icon">
            <img src="./img/icon/phone.png " alt="">
        </a>
        <div class="divider"></div>
        <a class="connect-us__icon">
            <img src="./img/icon/mail.png " alt="">
        </a>
    </div>
</div>