<div class="container-l flex center-ver creation-process__container">
    <!-- <div class="flex flex-col center-ver creation-process__item">
        <div class="flex flex-col center-hor center-ver creation-process__content">
            <p>hợp tác, bao tiêu <br>
                vùng nguyên liệu</p>
        </div>
        <img title=" dấu chấm trong sơ đồ" class="icon" src="./img/icon/dot-index.png"></img>
        <img title="hình định nghĩa" class="creation-process__img" src="./img/icon/farm.png"></img>
    </div>
    <div class="flex flex-col center-ver creation-process__item">
        <img title="hình định nghĩa" class="creation-process__img" src="./img/icon/truck.png"></img>
        <img title=" dấu chấm trong sơ đồ" class="icon" src="./img/icon/dot-index.png"></img>
        <div class="flex flex-col center-hor center-ver creation-process__content">
            <p>cung ứng nguồn <br>
                nguyên liệu đến các nhà <br>
                sản xuất, doanh nghiệp</p>
        </div>
    </div>
    <div class="flex flex-col center-ver creation-process__item">
        <div class="flex flex-col center-hor center-ver creation-process__content">
            <p>gia công các sản phẩm <br>
                chế biến từ nông sản</p>
        </div>
        <img title=" dấu chấm trong sơ đồ" class="icon" src="./img/icon/dot-index.png"></img>
        <img title="hình định nghĩa" class="creation-process__img" src="./img/icon/pack.png"></img>
    </div>
    <div class="flex flex-col center-ver creation-process__item">
        <img title="hình định nghĩa" class="creation-process__img" src="./img/icon/supermarket.png"></img>
        <img title=" dấu chấm trong sơ đồ" class="icon" src="./img/icon/dot-index.png"></img>
        <div class="flex flex-col center-hor center-ver creation-process__content">
            <p>phân phối nông sản sạch <br>
                ở chuỗi siêu thị, cửa hàng <br>
                tiện lợi,đại lý,...</p>
        </div>
    </div>
    <div class="flex flex-col center-ver creation-process__item">
        <div class="flex flex-col center-hor center-ver creation-process__content">
            <p>sản xuất sản phẩm <br>
                từ nông nghiệp sạch</p>
        </div>
        <img title=" dấu chấm trong sơ đồ" class="icon" src="./img/icon/dot-index.png"></img>
        <img title="hình định nghĩa" class="creation-process__img" src="./img/icon/Layer_1.png"></img>
    </div>
    <hr class="line-center"> -->
    <picture>
        <source srcset="../img/map/diagram.svg" media="(min-width: 769px)" type="image/webp">
        <source srcset="../img/map/diagram-mb.svg" media="(max-width: 768px)" type="image/webp">
        <img src="../img/map/diagram.svg" alt="ảnh mô tả" loading="lazy">
    </picture>
</div>