<div class="container-l flex responsibility-container">
                <div class="flex center-hor flex-col responsibility-content">
                    <h3>Trách Nhiệm Với Cộng Đồng</h3>
                    <button>xem thêm bài viết</button>
                    <p>cập nhập thêm thông tin về các hoạt động <br>
                        sự kiện từ king green</p>
                </div>
                <div class="flex responsibility-button">
                    <a href="" class="flex center-ver center-hor bg-green">
                        tham gia dự án TRVC <br>
                        &tọa đàm ESG
                    </a>
                    <img src="./img/intro/index-fruit.png" alt="">
                    <a href="" id="SP-item" class="flex center-ver center-hor bg-green">
                        chung tay cùng các <br>
                        hoạt động thiện nguyện
                    </a>
                    <img src="./img/intro/index-field.png" alt="">
                    <a href="" class="flex center-ver center-hor bg-orange">
                        tài trợ giải bA DING <br>
                        super league bDSL4
                    </a>
                    <img src="./img/intro/index-model.png" alt="">
                </div>
            </div>