<!-- <div class="container-l bg-green flex sustainable-container">
    <p>phát <br> triển <br> bền <br> vững</p>
    <div class="sustainable-content flex center-ver">
        <ul class="flex flex-col sustainable-list">
                    <li class="flex center-hor"><a href="#part-one">chiến lược</a></li>
                    <li class="flex center-hor"><a href="#part-two">cam kết</a></li>
                    <li class="flex center-hor">bảo vệ môi trường</li>
                    <li class="flex center-hor">hoạt động xã hội</li>
                </ul>
    </div>
</div>
<div class="container-l sustainable__img-container">
    <img src="./img/banner/sustainable-img.png" alt="">
    <img src="./img/banner/sustainable-model.png" alt="">
</div> -->
<picture class="sustainable-container container-l">
    <source srcset="../img/map/phat-trien-ben-vung.svg" media="(min-width: 769px)" type="image/webp">
    <source srcset="../img/map/phat-trien-ben-vung-mb.svg" media="(max-width: 768px)" type="image/webp">
    <img src="../img/map/diagram.svg" alt="ảnh mô tả" loading="lazy">
</picture>